#contactSection{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    position: relative;

    height: 100vh;
    width: auto;

    box-sizing: border-box;

    scroll-snap-align: start;

}

/*  */

#contactSectionTitleContainer{
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-top: -50vh;
    margin-left: -62vw;
    justify-content: center;
    align-items: center;

    text-align: center;
    gap: 12vw;

}

#contactSectionTitle{
    font-family: victorMono;
    font-weight: 400;
    font-size: 7vw;

    letter-spacing: 1.75vw;
    margin-right: -1.75vw;

    color: #5A5A5A;
}

/*  */

#contactSectionSubTitleContainer{
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-top: 0vh;
    margin-left: -62vw;
    max-width: 31vw;
    min-width: 31vw;
    min-height: 27vh;
    max-height: 27vh;
    justify-content: center;
    align-items: center;

    gap: 0;

    border: 1px solid #5A5A5A;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

#contactSectionSubTitle{
    font-family: victorMono;
    font-weight: 300;
    font-size: 1.75vw;

    color: #5A5A5A;
}

#contactSectionSubTitle:not(:last-child) {
    margin-bottom: 1vh;
}

/*  */

#contactSectionParaContainer{
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-top: 0vh;
    margin-left: 62vw;
    max-width: 31vw;
    min-width: 31vw;
    min-height: 55vh;
    max-height: 55vh;
    justify-content: center;
    align-items: center;

    gap: 0;

    border: 1px solid #5A5A5A;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#contactSectionPara{
    text-align: center;
    font-family: victorMono;
    font-weight: 400;
    font-size: 1.4vw;
    color: #5A5A5A;
}

#contactSectionPara:not(:last-child) {
    margin-bottom: 1vh;
}

/*  */

#contactSectionNavBarContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-bottom: -60vh;
    gap: 2.5vh;

    text-align: center;
    font-family: victorMono;
    font-weight: 500;
    font-size: 1.25vw;
    text-decoration: none;
    letter-spacing: 0.25vw;
    
}