#landing{
    height: 100vh;
    width: auto;

    position: relative;

    box-sizing: border-box;

    border: 2px dashed black;
}

#mobiusIconLandingContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 100%;
    width: auto;

    z-index: 1;
}

#mobiusIconLanding{
    height: 120%;
    width: auto;

    stroke-width: 1;

    z-index: 1;
}

#landingPageH1{
    z-index: 2;
}

/*  */

#about{
    height: 100vh;
    width: auto;

    position: relative;

    box-sizing: border-box;

    border: 2px dashed black;
    
}

#mobiusIconAboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 100%;
    width: auto;

    z-index: 1;
}

#mobiusIconAbout{
    height: 120%;
    width: auto;

    stroke-width: 1;

    z-index: 1;
}

/*  */

#work{
    height: 100vh;
    width: auto;

    position: relative;

    box-sizing: border-box;

    border: 2px dashed black;
    
}

#mobiusIconWorkContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 100%;
    width: auto;

    z-index: 1;
}

#mobiusIconWork{
    height: 120%;
    width: auto;

    stroke-width: 1;

    z-index: 1;
}

/*  */

#contact{
    height: 100vh;
    width: auto;

    position: relative;

    box-sizing: border-box;

    border: 2px dashed black;
    
}

#mobiusIconContactContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 100%;
    width: auto;

    z-index: 1;
}

#mobiusIconContact{
    height: 120%;
    width: auto;

    stroke-width: 1;

    z-index: 1;
}